.blogs h2 {
  margin: 30px 0px;
}
.blogItem p {
  margin: 20px 0px;
}
.blogItemh3 {
    cursor:pointer
  }
.blogItemp{
  max-width: 45vw;
}
.popular {
  margin-top: 20px;
  padding: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
  align-items: center;
  min-height: 100vh;
}

